/* * {
    outline: 1px solid red;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
}
.control {
    margin: 10px;
}

.parent-div {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid red; */
    border-radius: 1%;
}
.grid-square {
    border: .3px solid grey;
    min-width: 1.9rem;
}