* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.control {
    margin: 10px;
}

.control button {
    padding: 5px;
    margin-left: 5px;
    color: brown;
    cursor: pointer;
}

.board-btn {
    width: 50px;
    color: white;
    padding: 5px;
}

.board-size:hover {
    opacity: .7;
    cursor: pointer;
}

.flex-container {
    /* border: 1px solid red; */
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid gray;
}